<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Login-留学生管理系统</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" id="bulma" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.2/css/bulma.min.css" />
  <link rel="stylesheet" type="text/css" href="../css/login.css">
  <link rel="stylesheet" type="text/css" href="../css/hero.css">
	
</head>
<body>
    <section class="hero is-primary is-large header-image">
    	<div class="hero-head">
    		<header class="nav">
    			<div class="container">
    				<div class="nav-left">
              <a class="nav-item">
                <img src="https://placehold.it/642x160" alt="logo">
              </a>
            </div>
            <span class="nav-toggle">
              <span></span>
              <span></span>
              <span></span>
            </span>
            <div class="nav-center nav-menu">
              <a class="nav-item is-tab is-active">HOME</a>
              <a class="nav-item is-tab">FEATURES</a>
              <a class="nav-item is-tab">NEWS</a>
              <a class="nav-item is-tab">ABOUT US</a>
            </div>
            <div class="nav-right nav-menu">
              <a class="nav-item is-tab" href="./register_protocol.html">Registration Guide</a>
              <a class="nav-item is-tab">中文</a>
            </div>
    			</div>
    		</header>
    	</div>
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column is-3 is-offset-9">
              <div class="login-form">
                  <p class="control has-icon has-icon-right">
                    <input class="input email-input" type="text">
                    <span class="icon user">
                      <i class="fa fa-user"></i>
                    </span>
                  </p>
                  <p class="control has-icon has-icon-right">
                    <input class="input password-input" type="password">
                    <span class="icon user">
                      <i class="fa fa-lock"></i>
                    </span>
                  </p>
                  <p class="control login">
                    <button class="button is-success is-outlined is-large is-fullwidth">Sign In</button>
                  </p>                
              </div>
              <div class="forgot-password">
                <p class="has-text-centered" style="LINE-HEIGHT:60px">
                  <a href="#">Forgot password</a>
                  <a href="#">Register</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="columns section">
      <div class="column is-12 has-text-centered">
        <p class="title"><strong>Special Features</strong></p>
        <p>—————————<i class="fa fa-graduation-cap" aria-hidden="true"></i>—————————</p>
      </div>
    </div>

    <div class="container">
    <div class="columns">
      <div class="column is-3">
        <div class="card">
          <div class="card-image">
            <figure class="image is-3by2">
              <img src="https://placehold.it/1280x960" alt="image">
            </figure>
          </div>
          <div class="card-content has-text-centered">
            <p><font size="4.5">Online Application</font></p>
          </div>
        </div>
      </div>

      <div class="column is-3">
        <div class="card">
          <div class="card-image">
            <figure class="image is-3by2">
              <img src="https://placehold.it/1280x960" alt="image">
            </figure>
          </div>
          <div class="card-content has-text-centered">
            <p><font size="4.5">Dormitory Reservation</font></p>
          </div>
        </div>
      </div>

      <div class="column is-3">
        <div class="card">
          <div class="card-image">
            <figure class="image is-3by2">
              <img src="https://placehold.it/1280x960" alt="image">
            </figure>
          </div>
          <div class="card-content has-text-centered">
            <p><font size="4.5">Airport Checkup</font></p>
          </div>
        </div>
      </div>

      <div class="column is-3">
        <div class="card">
          <div class="card-image">
            <figure class="image is-3by2">
              <img src="https://placehold.it/1280x960" alt="image">
            </figure>
          </div>
          <div class="card-content has-text-centered">
            <p><font size="4.5">Application Change</font></p>
          </div>
        </div>
      </div>

    </div>
    </div>

    <div class="container">
    <div class="columns">
      <div class="column is-3">
        <div class="card">
          <div class="card-image">
            <figure class="image is-3by2">
              <img src="https://placehold.it/1280x960" alt="image">
            </figure>
          </div>
          <div class="card-content has-text-centered">
            <p><font size="4.5">Query Results</font></p>
          </div>
        </div>
      </div>

      <div class="column is-3">
        <div class="card">
          <div class="card-image">
            <figure class="image is-3by2">
              <img src="https://placehold.it/1280x960" alt="image">
            </figure>
          </div>
          <div class="card-content has-text-centered">
            <p><font size="4.5">Leaving Procedure</font></p>
          </div>
        </div>
      </div>

      <div class="column is-3">
        <div class="card">
          <div class="card-image">
            <figure class="image is-3by2">
              <img src="https://placehold.it/1280x960" alt="image">
            </figure>
          </div>
          <div class="card-content has-text-centered">
            <p><font size="4.5">Application Note</font></p>
          </div>
        </div>
      </div>

      <div class="column is-3">
        <div class="card">
          <div class="card-image">
            <figure class="image is-3by2">
              <img src="https://placehold.it/1280x960" alt="image">
            </figure>
          </div>
          <div class="card-content has-text-centered">
            <p><font size="4.5">School Map</font></p>
          </div>
        </div>
      </div>

    </div>
    </div>

    <div class="columns section">
      <div class="column is-12 has-text-centered">
        <p class="title"><strong>News</strong></p>
        <p>—————————<i class="fa fa-graduation-cap" aria-hidden="true"></i>—————————</p>
      </div>
    </div>

    <div class="container">
    <div class="columns">
      <div class="column is-4">
        <div class="card">
          <div class="card-image">
            <figure class="image is-3by2">
              <img src="https://placehold.it/1280x960" alt="image">
            </figure>
          </div>
          <div class="card-content has-text-left">
            <h1><font size="4.5">TitleTitleTitleTitle</font></h1>
            <p>news detail news detail news detail news detail news detail news detail...</p>
          </div>
        </div>
      </div>

      <div class="column is-4">
        <div class="card">
          <div class="card-image">
            <figure class="image is-3by2">
              <img src="https://placehold.it/1280x960" alt="image">
            </figure>
          </div>
          <div class="card-content has-text-left">
            <h1><font size="4.5">TitleTitleTitleTitle</font></h1>
            <p>news detail news detail news detail news detail news detail news detail...</p>
          </div>
        </div>
      </div>

      <div class="column is-4">
        <div class="card">
          <div class="card-image">
            <figure class="image is-3by2">
              <img src="https://placehold.it/1280x960" alt="image">
            </figure>
          </div>
          <div class="card-content has-text-left">
            <h1><font size="4.5">TitleTitleTitleTitle</font></h1>
            <p>news detail news detail news detail news detail news detail news detail...</p>
          </div>
        </div>
      </div>

    </div>
    </div>

    <div class="columns section">
      <div class="column is-12 has-text-centered">
        <p class="title"><strong>Application</strong></p>
        <p>—————————<i class="fa fa-graduation-cap" aria-hidden="true"></i>—————————</p>
      </div>
    </div>

    <div class="container">
    <div class="columns">
      <div class="column is-3">
        <div class="card">
          <div class="card-image">
            <figure class="image is-3by2">
              <img src="https://placehold.it/1280x960" alt="image">
            </figure>
          </div>
          <div class="card-content has-text-centered">
            <p><font size="4.5">Study Assistant</font></p>
            <p><font size="4.5">APP QRCode</font></p>
            <p><font size="4.5">(Android))</font></p>
          </div>
        </div>
      </div>

      <div class="column is-3">
        <div class="card">
          <div class="card-image">
            <figure class="image is-3by2">
              <img src="https://placehold.it/1280x960" alt="image">
            </figure>
          </div>
          <div class="card-content has-text-centered">
            <p><font size="4.5">Study Assistant</font></p>
            <p><font size="4.5">APP QRCode</font></p>
            <p><font size="4.5">(iOS))</font></p>
          </div>
        </div>
      </div>

      <div class="column is-3">
        <div class="card">
          <div class="card-image">
            <figure class="image is-3by2">
              <img src="https://placehold.it/1280x960" alt="image">
            </figure>
          </div>
          <div class="card-content has-text-centered">
            <p><font size="4.5">Study Management</font></p>
            <p><font size="4.5">Assistant APP QRCode</font></p>
            <p><font size="4.5">(Android))</font></p>
          </div>
        </div>
      </div>

      <div class="column is-3">
        <div class="card">
          <div class="card-image">
            <figure class="image is-3by2">
              <img src="https://placehold.it/1280x960" alt="image">
            </figure>
          </div>
          <div class="card-content has-text-centered">
            <p><font size="4.5">Study Management</font></p>
            <p><font size="4.5">Assistant APP QRCode</font></p>
            <p><font size="4.5">(iOS))</font></p>
          </div>
        </div>
      </div>

    </div>
    </div>
    <br>
    <br>
    <div class="footer">
      <div class="level">
        <div class="container">
        <div class="level-left">
            <div class="is-4" style="padding:20px;">
            <div class="level-item has-text-centered">
              <p><i class="fa fa-qq" aria-hidden="true"></i></p>
              
            </div>
            
            <div class="level-item has-text-centered">
              <p><strong>Online Contact</strong></p>
              
            </div>
            
            <div class="level-item has-text-centered">              
              <p>QQ : 123456789</p>
              
            </div>
            
            <div class="level-item has-text-centered">           
              <p>Time : 9:00am - 5:00pm</p>        
            </div>          
          </div>
          <div class="is-4" style="padding:20px;">
            <div class="level-item has-text-centered">
              <p><i class="fa fa-phone" aria-hidden="true"></i></p>
              <br>
            </div>
            <div class="level-item has-text-centered">
              <p><strong>Phone Contact</strong></p>
              <br>
            </div>
            <div class="level-item has-text-centered">              
              <p>Num : 010-123456789</p>
              <br>
            </div>
            <div class="level-item has-text-centered">              
              <p>Time : 9:00am - 5:00pm</p>        
            </div>          
          </div>
          <div class="is-4" style="padding:20px;">
            <div class="level-item has-text-centered">
              <p><i class="fa fa-envelope" aria-hidden="true"></i></p>
              <br>
            </div>
            <div class="level-item has-text-centered">
              <p><strong>E-mail Contact</strong></p>
              <br>
            </div>
            <div class="level-item has-text-centered">              
              <p>E-mail : 123456789@163.com</p>
              <br>
            </div>
            <div class="level-item has-text-centered">              
              <p>Time : 9:00am - 5:00pm</p>        
            </div>          
          </div>
        </div>
        <div class="content has-text-centered">
          <p>© 2011-2017 China Cinda Institute(Beijing) Technology Co.,Ltd. All right reserved</p>
        </div>
        </div>
      </div>
    </div>

  <script async type="text/javascript" src="../js/bulma.js"></script>
</body>
</html>