<footer>
    <div class="footer">
      <div class="level">
        <div class="container">
        <div class="level-left">
            <div class="is-4" style="padding:20px;">
            <div class="level-item has-text-centered">
              <p><i class="fa fa-qq" aria-hidden="true"></i></p>
              
            </div>
            
            <div class="level-item has-text-centered">
              <p><strong>Online Contact</strong></p>
              
            </div>
            
            <div class="level-item has-text-centered">              
              <p>QQ : 123456789</p>
              
            </div>
            
            <div class="level-item has-text-centered">           
              <p>Time : 9:00am - 5:00pm</p>        
            </div>          
          </div>
          <div class="is-4" style="padding:20px;">
            <div class="level-item has-text-centered">
              <p><i class="fa fa-phone" aria-hidden="true"></i></p>
              <br>
            </div>
            <div class="level-item has-text-centered">
              <p><strong>Phone Contact</strong></p>
              <br>
            </div>
            <div class="level-item has-text-centered">              
              <p>Num : 010-123456789</p>
              <br>
            </div>
            <div class="level-item has-text-centered">              
              <p>Time : 9:00am - 5:00pm</p>        
            </div>          
          </div>
          <div class="is-4" style="padding:20px;">
            <div class="level-item has-text-centered">
              <p><i class="fa fa-envelope" aria-hidden="true"></i></p>
              <br>
            </div>
            <div class="level-item has-text-centered">
              <p><strong>E-mail Contact</strong></p>
              <br>
            </div>
            <div class="level-item has-text-centered">              
              <p>E-mail : 123456789@163.com</p>
              <br>
            </div>
            <div class="level-item has-text-centered">              
              <p>Time : 9:00am - 5:00pm</p>        
            </div>          
          </div>
        </div>
        <div class="content has-text-centered">
          <p>© 2011-2017 China Cinda Institute(Beijing) Technology Co.,Ltd. All right reserved</p>
        </div>
        </div>
      </div>
    </div>
  </footer>
