


		<header class="nav">
			<div class="container">
				<div class="nav-left">
          <a class="nav-item">
            <img src="https://placehold.it/642x160" alt="logo">
          </a>
        </div>
        <span class="nav-toggle">
          <span></span>
          <span></span>
          <span></span>
        </span>
        <div class="nav-center nav-menu">
          <a class="nav-item is-tab is-active">HOME</a>
          <a class="nav-item is-tab">FEATURES</a>
          <a class="nav-item is-tab">NEWS</a>
          <a class="nav-item is-tab">ABOUT US</a>
        </div>
        <div class="nav-right nav-menu">
          <a class="nav-item is-tab">Registration Guide</a>
          <a class="nav-item is-tab">中文</a>
        </div>
			</div>
		</header>
